{% extends 'home/header.html' %}
{% block content %}
   <div class="container">
     <div class="jumbotron">
     <div class="title">
     <h3>The Official OnlyPython Hub</h3>
     <p>This is the official website for the onlypython organization with an aim of teaching newbies python upto an expert level</p>
     </div>
   <div class="row-fluid">
       <div class="col-sm-4 col-md-4 col-xs-12">
         <h3>Straight to the Point Tutorials</h3>
         <p>The tutorials on this website are developed by experts who know what you need and when in order to become an expert Python Develper.
         Its organization is well structured to capture all the major and important concepts in python.</p>
       </div>

     <div class="col-sm-4 col-md-4 col-xs-12">
       <h3>Diverse Community</h3>
       <p>We have over 20 chatrooms each covering a specific unique topic in python.It ensures that you get immediate answers to your
       questions regarding the topic.</p>
     </div>

     <div class="col-sm-4 col-md-4 col-xs-12">
       <h3>Vast Online Resources</h3>
       <p>Our Experts have ensured that you get the best materials from other external sources.We ensure that you get out of the best . </p>
     </div>


   </div>
     </div>
   </div>

{% endblock %}